<%- include("partials/header"); -%>
  

    <div class="Webcontainer">
       
        <div class="search-container">

            <form action="/webpage" method="post">
                <input type="text" name="foodName" placeholder="Example 1 cup rice">
                <button type="submit ">Submit </button>
            </form>
        </div>

    
        <div id="food-info"></div>
        <div class="Webcard card--large" <% if (isCardVisible) { %>style="display: block;"<% } else { %>style="display: none;"<% } %>>
            <h2 class="typewriter-effect">Food Item</h2>
            <h3>Calories: <%= calories %></h3>
            <h3>Fat: <%= Fat %>g</h3>
            <p>Protein: <%= protein %>g</p>
            <p>Calcium: <%= calcium %>mg</p>
            <p>Iron: <%= iron %>mg</p>
            <p>Potassium: <%= potassium %>mg</p>
            <p>Sodium: <%= sodium %> mg</p>
            
          </div>
    </div>
</body>

</html>