<%- include("partials/header"); -%>

<form action="/webpage" method="post">
    <input type="text" name="foodName" placeholder="enter the name of food item">
    <button type="submit">Submit</button>
</form>

<p> <%= calories %> </p>

<p> <%= totalCO2Emissions %> </p>

<p> <%= co2EmissionsClass %> </p>

<p> <%= healthLabels %> </p>

</body>
</html>